@import "vars.scss";

.title {
  font-family: $title-font;
}

.section-header {
  flex-direction: row;
  margin-bottom: 16px;

  .section-title {
    flex-grow: 1;
  }
}

.section-title {
  color: $orange-light;
  font-size: 40px;
  margin-bottom: 16px;
  text-stroke: 2px #000;
  text-shadow: 3px 3px 0 rgba(#000, 1);
}
