@import "Vars.scss";

CourseTimer {
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .game-timer {
    top: 48px;
    align-self: flex-start;
    flex-direction: column;
    min-width: 160px;
    text-align: center;
    align-items: center;
    justify-content: center;

    .subtitle {
      width: 100%;
      text-align: center;
      font-size: 16px;
      margin-bottom: -10px;
    }

    .title {
      color: $pink;
      font-size: 40px;
      text-stroke: 6px #000;
      text-shadow: $text-shadow-black-4;
    }
  }

  .course-time {
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: $orange-light;
    font-family: $title-font;
    font-size: 40px;
    text-stroke: 6px #000;
    text-shadow: $text-shadow-black-4;
  }

  .menu-info {
    position: absolute;
    top: 64px;
    left: 125px;
    font-size: 16px;
    text-stroke: 4px #000;
    text-shadow: $text-shadow-black;
    flex-direction: column;
  }
}
