devhud {
    position: absolute;
    bottom: 32px;
    left: 32px;

    .pedal {
        width: 32px;
        height: 200px;
        background-color: rgba(black .25);
        margin-right: 20px;

        .fill {
            top: 0%;
            transform: translateY(-50%);
            width: 100%;
            height: 10px;
            background-color: green;
        }
    }

    .jump {
        width: 32px;
        height: 200px;
        background-color: rgba(black .25);
        margin-right: 20px;
        flex-direction: column-reverse;

        .fill {
            width: 100%;
            height: 100%;
            background-color: cyan;
        }
    }

    .lean {
        background-color: rgba(black .25);
        width: 200px;
        height: 200px;
        border-radius: 30%;
        position: relative;

        .point {
            position: absolute;
            border-radius: 50%;
            transform: translate(-50% -50%);
            top: 50%;
            left: 50%;

            &.abs {
                width: 24px;
                height: 24px;
                background-color: red;
            }

            &.local {
                width: 14px;
                height: 14px;
                background-color: yellow;
            }
        }
    }

    .note {
        text-shadow: 1px 1px 1px black;
        width: 400px;
        font-size: 20px;
        font-family: Poppins;
    }
}
