@import "vars.scss";

button, navlink, .button {
    &:active {
        sound-in: button.click;
    }

    &:hover {
        &:not( .active ) {
            sound-in: button.hover;
        }
    }
}

UnicycleHud {
    color: $fontcolor;
}

IconPanel {
    font-family: MaterialIcons;
}

.hidden {
    display: none;
}

.gamepanel {
    padding: $padding;
    border-radius: $radius;
    background-color: rgba($bg .95);
    box-shadow: 0px 0px 25px rgba(black .5);
}

.innerpanel {
    padding: $padding;
    border-radius: $radius;
    background-color: $innerbg;
}

