
$fontcolor: #FFF;
$fontcolorfaded: #b1b1b1;
$primary: #55CCD9;
$secondary: #F2BC1B;
$bg: #1f202a;
$innerbg: #1a1a23;
$lightbg: #313344;
$lighterbg: #3f4155;
$blue: #2C3673;
$radius: 12px;
$smallradius: 4px;
$padding: 15px;
$stylefont: LuckiestGuy;
$readingfont: Poppins;
