@import "../../Vars.scss";

TrailpassTab {
  flex-direction: column;
  margin-top: 64px;

  .renderscene {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;

    ScenePanel {
      box-shadow: 2px 2px 4px black;
    }
  }

  .scene {
    height: 70%;

    .buy {
      position: absolute;
      top: 50px;
      right: 75px;
      padding: 12px 30px;
      background-color: rgba($secondary 0.5);
      font-size: 20px;
      text-shadow: 0px 0px 4px black;
      transition: all 0.08s ease-in;

      &:hover {
        background-color: $secondary;
      }
    }
  }

  .unlocks {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .progress {
    height: 32px;
    background-color: black;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 48px;
    padding: 2px;

    .xp {
      position: absolute;
      font-family: $stylefont;
      font-size: 18px;
      text-shadow: 1px 1px 2px black;
    }

    .xp.min {
      left: 5px;
      bottom: -25px;
    }

    .xp.max {
      right: 5px;
      bottom: -25px;
    }

    .xp.current {
      position: absolute;
      right: 10px;
    }

    .fill {
      width: 50%;
      background-color: $secondary;
      margin: 2px;
      transition: width 0.35s ease-in;
    }
  }
}

TrailPassItemIcon {
  width: 175px;
  height: 235px;
  margin-right: 24px;
  flex-direction: column;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  .tag {
    background-color: rgba($green 0.8);
    height: 32px;
    width: 60%;
    font-size: 25px;
    font-family: $stylefont;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .cost-unlocked {
    display: none;
    background-color: $green;
    height: 38px;
    width: 65%;
    margin-top: 8px;
    font-size: 20px;
    font-family: $stylefont;
    align-items: center;
    justify-content: center;
    transition: all 0.08s ease-in;
    cursor: default;
    box-shadow: 0 0 5px black;
  }

  .cost {
    background-color: rgba($secondary 1);
    height: 38px;
    width: 65%;
    margin-top: 8px;
    font-size: 20px;
    font-family: $stylefont;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 0px 0px 2px black;
    transition: all 0.08s ease-in;
    box-shadow: 0 0 20px black;

    .nut {
      background-image: url("textures/ui/nut.png");
      width: 55px;
      height: 55px;
      position: absolute;
      right: 0;
      top: -7px;
      background-size: cover;
      transition: transform 0.08s ease-in;
    }

    &:hover {
      background-color: $secondary;
      transform: scale(1.1);

      .nut {
        transform: scale(1.25);
      }
    }
  }

  &.unlocked .cost {
    display: none;
  }

  &:not(.unlockable) .cost {
    background-color: rgba(black 0.75);
    color: rgba(white 0.5);
    cursor: none;
    box-shadow: none;
  }

  &.unlocked .cost-unlocked {
    display: flex;
  }

  .thumbnail {
    width: 100%;
    flex-grow: 1;
    background-color: black;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.08s ease-in;

    &:hover {
      border-color: white;
    }
  }
}
