# Sandbox
code/accesslist.txt
Properties
.intermediate
tools_asset_info.bin
*.csproj
*.los
*.vmat_c
*.vmdl_c

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Oo]bj/
*_bakeresourcecache