@import "../../vars.scss";

CustomizeTab {
  flex-direction: row;

  .customize-footer {
    border-top: 4px solid $light-purple;
    padding-top: 10px;
    flex-direction: column;
    position: absolute;
    bottom: 64px;
    left: 64px;
    right: 64px;

    .subtitle {
      color: $lightest-purple;
      font-size: 24px;
    }
  }

  .customize-item {
    align-items: center;
    justify-content: center;
    background-color: $light-purple;
    border: 2px solid transparent;
    box-shadow: $box-shadow-black;
    margin-bottom: 32px;
    width: 100%;
    height: 140px;
    transition: all 0.15s ease;

    &:hover {
      transform: scale(1.1);
    }

    &.is-new {
      border: 3px solid $blue;

      .tag {
        left: 0;
        background-color: $blue;
        padding: 8px;
      }
    }

    &.is-locked {
      .icon {
        opacity: 0.1;
      }
      .tag-container {
        .tag-icon {
          background-image: url(textures/ui/icon-lock-pink.png);
          display: flex;
          margin-right: -3px;
        }
        .tag {
          color: $pink;
        }
      }
    }

    &.is-locked-level {
      right: 8px;
      .tag-container {
        .tag {
          color: $green;
          font-family: $title-font;
          text-align: right;
        }
      }
    }

    &.is-locked {
      .tag-container {
        right: 8px;
        .tag {
          font-family: $title-font;
          text-align: right;
        }
      }
    }

    &.is-selected {
      border: 3px solid $pink;
      box-shadow: $box-shadow-pink;
    }

    .icon {
      width: 100px;
      height: 100px;
      background-size: 100%;
    }

    .tag-container {
      position: absolute;
      top: 8px;
      z-index: 1;

      .tag-icon {
        background-position: center;
        background-size: cover;
        display: none;
        width: 21px;
        height: 25px;
      }

      .tag {
        font-size: 16px;
        z-index: 3;
      }
    }
  }

  .tabs-part-categories {
    flex-direction: row;
    align-items: center;
    margin-right: $padding;

    button {
      font-size: 20px;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border-bottom: 2px solid transparent;
      margin-bottom: 8px;
      cursor: pointer;
      transition: background-color 0.15s linear;
      background-color: transparent;

      &:hover,
      &.active {
        border-color: $pink;
        color: $orange-light;
      }

      &:active {
        border-color: white;
      }
    }
  }

  .preview {
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    padding: 0;

    .render {
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      cursor: move;

      ScenePanel {
        background-color: $dark-purple;
      }
    }

    .buttons {
      flex-direction: column;
      position: absolute;
      bottom: 32px;
      left: 32px;

      button {
        padding: 15px;
        font-size: 20px;
        text-shadow: 1px 1px 1px black;
        background-color: rgba($bg 0.5);
        border-radius: $radius;
        transition: all 0.15s ease-out;
        cursor: pointer;
        margin-bottom: 4px;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
