
@import "../Vars.scss";

ControlsTab {
    flex-grow: 1;
    flex-direction: column;

    .howto {
        position: absolute;
        bottom: 32px;
        left: 32px;
        flex-direction: column;
    }

    .misc-binds {
        position: absolute;
        top: 32px;
        left: 32px;
        flex-direction: column;
        border-radius: $smallradius;
        font-size: 16px;

        .bind {
            margin-bottom: 6px;
        }

        .key {
            padding: 6px 8px;
            background-color: rgba($primary .1);
            border-radius: $smallradius;
            min-width: 32px;
            text-align: center;
            margin-right: 8px;
            box-shadow: 2px 2px 0 1px black;
            text-transform: uppercase;
        }

        .action {
            align-items: center;
        }
    }

    .diagram {
        margin: 0px auto;
        width: 1280px;
        height: 720px;
        background-image: url(ui/control-diagram.png);
        background-position: center;
        background-size: cover;

        .control {
            position: absolute;
            flex-direction: column;
            font-size: 20px;

            .control-name {
                margin-bottom: 10px;
            }

            .control-bind {
                font-weight: 600;
            }
        }

        .brake {
            right: 30%;
            top: 21.9%;
            text-align: right;
        }

        .right-pedal {
            right: 27.5%;
            top: 55.9%;
            text-align: right;
        }

        .left-pedal {
            left: 23%;
            top: 62.3%;
        }

        .jump {
            left: 29.8%;
            top: 80.8%;
        }

        .lean {
            left: 21%;
            top: 19.25%;
        }
    }
}