@import "../vars.scss";

GameMenu {
    background-image: linear-gradient(rgba($bg, .5), rgba($blue .5));
    backdrop-filter: blur(5);
    flex-direction: row;
    padding: 128px;
    flex-grow: 1;
    transition: opacity .18s ease-out;
    opacity: 0;
    z-index: 3;

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    .sidebar {
        width: 20%;
        height: 50%;
        margin-right: 32px;
        flex-direction: column;

        .spacer {
            flex-grow: 1;
        }

        navlink, button {
            color: $fontcolorfaded;
            flex-direction: column;
            font-size: 20px;
            font-family: $readingfont;
            letter-spacing: 1px;
            cursor: pointer;
            transition: color .15s linear;
            width: 100%;
            padding-top: 3px;

            Label {
                padding: 10px;
                padding-left: 38px;
            }

            IconPanel {
                position: absolute;
                left: 7px;
                top: 15px;
            }

            .underline {
                width: 0%;
                height: 4px;
                background-color: $primary;
                transition: width .15s ease-in-out;
            }

            &:hover, &.active {
                color: white;

                .underline {
                    width: 100%;
                }
            }

            &:active .underline {
                background-color: white;
            }
        }
    }

    &:not(.is-spectating) {
        .stop-spectating {
            display: none;
        }
    }

    .content {
        flex-grow: 1;
    }
}
