@import "../vars.scss";

GameMenu {
    background-color: rgba(darkblue,0.9);
    backdrop-filter: blur(5);
    flex-direction: column;
    flex-grow: 1;
    transition: opacity .18s ease-out;
    opacity: 0;
    z-index: 3;

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    .header {
        background-color: orange;
        flex-direction: row;
        width: 100%;
        height: 100px;

        .header-logo {
            background-color: green;
            width: 200px;
            height: 100px;
        }
        .header-navigation {
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            
            

            label {
                color: linear-gradient( red,blue);
                font-family: $title-font;
                font-size: 30px;
                padding: 16px;
                text-shadow: 3px 3px 0 rgba(#000,1);
                text-stroke: 5px #000;
            }
        }
    }

    .body {
        flex-direction: row;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        padding: 64px;
        z-index: 4;
    }

    .sidebar {
        width: 20%;
        height: 50%;
        margin-right: 32px;
        flex-direction: column;

        .spacer {
            flex-grow: 1;
        }

        navlink, button {
            color: $fontcolorfaded;
            flex-direction: column;
            font-size: 20px;
            font-family: $readingfont;
            letter-spacing: 1px;
            cursor: pointer;
            transition: color .15s linear;
            width: 100%;

            Label {
                padding: 10px;
                padding-left: 38px;
            }

            IconPanel {
                position: absolute;
                left: 7px;
                top: 15px;
            }

            .underline {
                width: 0%;
                height: 4px;
                background-color: $primary;
                transition: width .15s ease-in-out;
            }

            &:hover, &.active {
                color: white;

                .underline {
                    width: 100%;
                }
            }

            &:active .underline {
                background-color: white;
            }
        }
    }

    &:not(.is-spectating) {
        .stop-spectating {
            display: none;
        }
    }

    .content {
        flex-grow: 1;
    }
}
