$primary: #55CCD9;
$secondary: #F2BC1B;
$bg: #1f202a;
$blue: #2C3673;
$radius: 12px;
$padding: 15px;

GameMenu {
    background-image: linear-gradient(rgba($bg, .5), rgba($blue .5));
    backdrop-filter: blur(5);
    flex-direction: row;
    padding: 128px;
    flex-grow: 1;
    transition: opacity .18s ease-out;
    opacity: 0;

    IconPanel {
        font-family: MaterialIcons;
        align-items: center;
        margin-right: 10px;
    }

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    .sidebar {
        width: 20%;
        height: 50%;
        margin-right: 32px;
        background-color: rgba($bg .95);
        border-radius: $radius;
        flex-direction: column;
        padding: $padding;

        .spacer {
            flex-grow: 1;
        }

        .button-wrap {
            color: #b1b1b1;
            flex-direction: column;
            font-size: 20px;
            font-family: Poppins;
            cursor: pointer;
            transition: color .15s linear;

            navlink, button {
                width: 100%;
                align-items: center;
                padding: 10px 15px;
            }

            .underline {
                width: 0%;
                height: 4px;
                background-color: $primary;
                transition: all .15s ease-in-out;
            }

            &:hover, &.active {
                color: white;

                .underline {
                    width: 100%;
                }
            }
        }
    }

    .content {
        flex-grow: 1;
        background-color: rgba($bg .95);
        border-radius: $radius;
        padding: $padding;
    }
}
