@import "../Vars.scss";

UfChatbox {
  position: absolute;
  bottom: 64px;
  left: 64px;
  width: 620px;
  height: 570px;
  border-radius: $radius;
  padding: $padding;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  font-size: 20px;

  &.open {
    pointer-events: all;

    .input {
      opacity: 1;
      cursor: text;
    }

    .faded {
      opacity: 1;
    }
  }

  .entries {
    flex-direction: column;
    overflow: scroll;
  }

  .input {
    opacity: 0;
    min-height: 50px;
    max-height: 50px;
    margin-top: 10px;
    text-shadow: $text-shadow-black;
    text-stroke: 4px #000;

    .placeholder {
      color: rgba(white 0.5);
      font-style: italic;
    }

    textentry {
      flex-grow: 1;
      padding: 8px;
      background-color: rgba($bg 0.5);
      align-items: center;
    }
  }
}

UfChatboxEntry {
  padding-top: 8px;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  transition: opacity 0.15s linear;
  margin-bottom: 16px;
  flex-direction: column;

  &:nth-child(odd) {
    .message {
      background-color: $blue;
    }
  }

  &.faded {
    opacity: 0;
  }

  .name {
    color: $light-green;
    font-family: $body-font-bold;
    text-shadow: $text-shadow-black;
    text-stroke: 4px #000;
    letter-spacing: 1px;
    position: absolute;
    top: -3px;
    left: 8px;
    z-index: 1;
  }

  .message {
    background-color: $green;
    border: 2px solid #000;
    box-shadow: $box-shadow-hard-dark-purple;
    align-items: center;
    text-shadow: $text-shadow-black;
    text-stroke: 2px #000;
    font-weight: 300;
    align-self: flex-start;
    padding: 10px 8px 0 8px;
    //transform: rotate(-1deg);
  }

  // Server alert
  &.info {
    .name {
      color: $secondary;
    }
  }

  &.custom {
    .name {
      display: none;
    }

    &.timer-msg {
      color: $primary;
    }
  }
}
