
@import "../../Vars.scss";

StatsTab {

    .tab-container {
        flex-grow: 1;
        flex-direction: column;

        .tabs {
            navlink {
                padding: 20px;
                font-size: 20px;
                font-family: $readingfont;
                background-color: $lightbg;
                transition: all .15s ease-out;
                color: $fontcolorfaded;

                &:first-child {
                    border-radius: $radius 0 0 0;
                }

                &:last-child {
                    border-radius: 0 $radius 0 0;
                }

                &:hover {
                    background-color: $lighterbg;
                    color: $fontcolor;
                }

                &.active {
                    background-color: rgba($bg, 2);
                    color: $fontcolor;
                }
            }
        }

        .content {
            background-color: $bg;
            padding: $padding;
            border-radius: 0 $radius $radius $radius;
        }
    }
}

StatsTabDetails {
    flex-grow: 1;

    .details {
        width: 600px;
        flex-direction: column;
        margin-right: $padding;

        .thumbnail {
            background-image: url("https://files.facepunch.com/crayz/1b0311b1/msedge_2022-01-03_21-04-42.png");
            width: 600px;
            height: 350px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            margin-bottom: $padding;
        }

        .stats {
            flex-grow: 1;
            flex-direction: column;
            font-size: 20px;

            .stat-entry {
                justify-content: space-between;
                margin-bottom: 8px;
                padding-bottom: 8px;
                border-bottom: 4px solid $lightbg;

                .value {
                    font-weight: 600;
                }
            }
        }
    }

    &.incomplete .best-time .value {
        color: $secondary;
    }

    .achievements {
        flex-grow: 1;
        background-color: $lightbg;
        border-radius: $radius;
        padding: $padding;
        flex-direction: column;

        .heading {
            font-size: 28px;
            font-weight: 600;
            font-family: $stylefont;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }

        .achievement-icons {
            flex-wrap: wrap;
            justify-content: center;

            .icon {
                margin: 0 45px 45px 0;
                width: 110px;
                height: 110px;
                background-color: $bg;
                border-radius: $radius;
                border: 8px solid $lightbg;
                transition: all .08s linear;
                cursor: pointer;
                background-image: url("https://files.facepunch.com/crayz/1b0311b1/msedge_2022-01-03_21-39-33.png");
                background-size: 80px 80px;
                background-repeat: no-repeat;
                background-position: center center;

                &:hover {
                    border-color: $lighterbg;
                }
            }
        }

        .achievement-description {
            border-top: 4px solid $lighterbg;
            font-size: 20px;
            padding: $padding;
        }
    }
}

StatsTabLeaderboard {
    flex-grow: 1;

    .tab-container .tabs navlink {
        background-color: $bg;
        padding: 11px 20px;
        font-size: 18px;

        &:hover {
            background-color: $lightbg;
        }

        &.active {
            background-color: $lighterbg;
        }
    }

    .tab-container .content {
        padding: 0;
    }
}

StatsTabLeaderboardSingle {
    flex-grow: 1;
    background-color: $lighterbg;
    border-radius: 0 $radius $radius $radius;
    padding: $padding;

    .leaderboard-canvas {
        width: 80%;
        margin-right: $padding;
        flex-direction: column;
        overflow: scroll;

        StatsTabLeaderboardEntry {
            padding: 6px 20px;
            margin-bottom: 4px;
            border-radius: $radius;
            transition: all .15s ease-out;
            min-height: 32px;
            font-size: 20px;
            letter-spacing: 1px;

            &:nth-child(odd) {
                background-color: $lightbg;
            }

            &:hover {
                background-color: $bg;
            }

            &.me {
                background-color: rgba( $primary .25 );
            }

            .rank {
                width: 100px;
            }

            .name {
                flex-grow: 1;
                font-family: $stylefont;
                padding-top: 4px;
            }

            .time {
                width: 200px;
                text-align: right;
            }
        }
    }

    .leaderboard-sorting {
        flex-grow: 1;
        flex-direction: column;

        button {
            background-color: $lightbg;
            padding: 10px;
            margin-bottom: 4px;
            border-radius: $radius;
            justify-content: center;
            font-size: 18px;
            text-shadow: 1px 1px 1px black;
            transition: all .15s ease-out;

            &:hover {
                background-color: $primary;
            }
        }
    }
}
