@import "../../Vars.scss";

.leaderboards {
  flex-grow: 1;
  flex-direction: column;
}

StatsTabLeaderboard {
  flex-grow: 1;
}

StatsTabLeaderboardSingle {
  flex-grow: 1;

  .scoreboard-container {
    flex-direction: column;
    flex-grow: 1;
  }

  .leaderboard-canvas {
    flex-direction: column;
    overflow: scroll;
    flex-grow: 1;
    height: 100%;

    StatsTabLeaderboardEntry {
      &.me {
        background-color: rgba($blue, 0.05);
        label {
          color: $blue;
        }
        &:nth-child(odd) {
          background-color: rgba($blue, 0.05);
        }
      }

      &.friend {
        background-color: rgba($green, 0.05);
        label {
          color: $green;
        }
        &:nth-child(odd) {
          background-color: rgba($green, 0.05);
        }
      }

      .spec-button {
        width: 50px;
      }

      &:not(.can-spectate) {
        .spec-button button {
          display: none;
        }
      }

      .spec-button button {
        width: 24px;
        height: 24px;
        border-radius: $smallradius;
        background-color: transparent;
        font-size: 12px;
        transition: all 0.15s linear;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: rgba($primary 1);
        }
      }
    }
  }

  .leaderboard-sorting {
    align-items: center;
    .button {
      width: 50%;
    }
  }
}
