@import "../../Vars.scss";

StatsTab {
  width: 100%;
  height: 100%;

  .tab-container {
    flex-grow: 1;
    flex-direction: column;

    .tabs {
      navlink {
        padding: 20px;
        font-size: 20px;
        font-family: $readingfont;
        background-color: $lightbg;
        transition: all 0.15s ease-out;
        color: $fontcolorfaded;

        &:first-child {
          border-radius: $radius 0 0 0;
        }

        &:last-child {
          border-radius: 0 $radius 0 0;
        }

        &:hover {
          background-color: $lighterbg;
          color: $fontcolor;
        }

        &.active {
          background-color: rgba($bg, 2);
          color: $fontcolor;
        }
      }
    }

    .content {
      background-color: $bg;
      padding: $padding;
      border-radius: 0 $radius $radius $radius;
    }
  }
}

StatsTabDetails {
  &.incomplete .best-time .subtitle {
    color: $pink;
  }

  .achievements {
    flex-grow: 1;
    background-color: $lightbg;
    border-radius: $radius;
    padding: $padding;
    flex-direction: column;

    .heading {
      font-size: 28px;
      font-weight: 600;
      font-family: $stylefont;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }

    .achievement-icons {
      flex-wrap: wrap;
      margin-bottom: 40px;

      .icon {
        width: 110px;
        height: 110px;
        margin-right: $padding;
        background-color: transparent;
        border-radius: $smallradius;
        cursor: pointer;
        background-image: url("https://files.facepunch.com/crayz/1b0311b1/msedge_2022-01-03_21-39-33.png");
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.1;

        .grayscale {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          backdrop-filter: grayscale(8);
        }

        &:hover,
        &.completed {
          background-color: $green;
          opacity: 1;

          .grayscale {
            display: none;
          }
        }
      }
    }

    .achievement-description {
      border-top: 4px solid $lighterbg;
      font-size: 20px;
      padding: $padding;
      flex-direction: column;

      .name {
        font-size: 28px;
        font-family: $stylefont;
      }
    }
  }
}
