@import "../Vars.scss";

LeaderboardSign {
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  color: white;
  flex-direction: column;

  LeaderboardSignEntry {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-stroke: 8px #000;
    text-shadow: $text-shadow-black-4;
    font-size: 44px;
    padding-right: 16px;
    margin-bottom: 4px;
    font-family: $readingfont;
    height: 70px;

    &:nth-child(odd) {
      background-color: rgba($darker-purple, 0.2);
    }

    &.local {
      background-color: rgba($blue, 0.5);
      .name {
        color: $pink;
      }
      .rank {
        background-color: $blue;
      }
    }

    .rank {
      background-color: rgba($darker-purple, 0.4);
      width: 55px;
      color: #fff;
      font-family: $body-font-bold;
      text-align: center;
      margin-right: 8px;
      padding: 4px;
      height: 100%;
      align-items: center;
      justify-content: center;
      min-width: 90px;
    }

    .name {
      color: $blue;
      flex-grow: 1;
      font-family: $body-font-bold;
      padding: 4px;
    }

    .time {
      text-align: right;
      font-family: $body-font;
    }
  }
}
