
@import "../Vars.scss";

LeaderboardSign {
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    color: white;
    flex-direction: column;

    LeaderboardSignEntry {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 4px solid white;
        text-shadow: 0px 0px 4px black;
        font-size: 44px;
        padding: 10px 0;
        font-family: $readingfont;

        &.local {
            .name, .rank {
                color: $primary;
            }
        }

        .rank {
            width: 55px;
            font-weight: 800;
            font-family: $stylefont;
        }

        .name {
            font-weight: 600;
            font-family: $stylefont;
            flex-grow: 1;
        }

        .time {
            text-align: right;
        }
    }
}
