
@import "../Vars.scss";

UfNametag {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .name {
        font-family: $stylefont;
        color: $secondary;
        font-size: 64px;
    }

    .stats {
        font-size: 24px;
        font-family: $readingfont;
        color: white;
    }
}